@if (isLink && href) {
  <a [href]="href" [attr.aria-label]="ariaLabel" [ngClass]="btnClasses" (click)="onClick($event)">
    @if (loading) { <span class="pm-btn-spinner inline-block animate-spin size-4 border-2 border-current border-t-transparent rounded-full"></span> }
    @if (startIcon) { <span class="flex items-center" [innerHTML]="startIcon | safeHtml"></span> }
    <span class="pm-btn-label inline-flex items-center">
      <ng-content></ng-content>
    </span>
    @if (endIcon) { <span class="flex items-center" [innerHTML]="endIcon | safeHtml"></span> }
  </a>
}
@else if (isLink && routerLink) {
  <a [routerLink]="routerLink" [attr.aria-label]="ariaLabel" [ngClass]="btnClasses" (click)="onClick($event)">
    @if (loading) { <span class="pm-btn-spinner inline-block animate-spin size-4 border-2 border-current border-t-transparent rounded-full"></span> }
    @if (startIcon) { <span class="flex items-center" [innerHTML]="startIcon | safeHtml"></span> }
    <span class="pm-btn-label inline-flex items-center">
      <ng-content></ng-content>
    </span>
    @if (endIcon) { <span class="flex items-center" [innerHTML]="endIcon | safeHtml"></span> }
  </a>
}
@else {
  <button [attr.type]="type" [disabled]="disabled" [attr.aria-label]="ariaLabel" [ngClass]="btnClasses" (click)="onClick($event)">
    @if (loading) { <span class="pm-btn-spinner inline-block animate-spin size-4 border-2 border-current border-t-transparent rounded-full"></span> }
    @if (startIcon) { <span class="flex items-center" [innerHTML]="startIcon | safeHtml"></span> }
    <span class="pm-btn-label inline-flex items-center">
      <ng-content></ng-content>
    </span>
    @if (endIcon) { <span class="flex items-center" [innerHTML]="endIcon | safeHtml"></span> }
  </button>
}