<div class="p-5 rounded-2xl border border-gray-200 dark:border-gray-800 bg-white dark:bg-gray-900">
  <h3 class="text-sm font-semibold text-gray-800 dark:text-white/90 mb-3">Intereses</h3>
  <div class="flex flex-wrap gap-2">
<app-button *ngFor="let i of interests" size="sm" [pill]="true" variant="subtle" (btnClick)="toggle(i)"
      [class.bg-brand-500]="(selected$|async)?.includes(i)" [class.text-white]="(selected$|async)?.includes(i)" [class.border-brand-500]="(selected$|async)?.includes(i)" [class.hover\:bg-brand-600]="(selected$|async)?.includes(i)"
      class="border" [class.border-gray-300]="!(selected$|async)?.includes(i)" [class.dark\:border-gray-700]="!(selected$|async)?.includes(i)">
      {{ i }}
    </app-button>
  </div>
</div>